torch
torchvision
numpy
Pillow
opencv-python
scikit-learn
aiohttp
tkintermapview
huggingface-hub
requests
safetensors
# MASt3R and Dust3r should be cloned separately alongside this repo
# git clone https://github.com/naver/mast3r.git
